#!/bin/sh
export TWITTER_KEY="YOUR_TWITTER_API_KEY"
export TWITTER_SECRET="YOUR_TWITTER_API_SECRET_KEY"

export LINKEDIN_KEY="YOUR_LINKEDIN_API_KEY"
export LINKEDIN_SECRET="YOUR_LINKEDIN_API_SECRET_KEY"

export FACEBOOK_KEY="YOUR_FACEBOOK_API_KEY"
export FACEBOOK_SECRET="YOUR_FACEBOOK_API_SECRET_KEY"

# Generate this with `rails secret`
export SECRET_KEY_BASE="YOUR_SECRET_KEY_FOR_COOKIES"

bundle
RAILS_ENV=production bundle exec rails server -p 3000 -b '0.0.0.0'
